<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Fasion Template for Bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'eccomerce/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'eccomerce/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'eccomerce/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'eccomerce/css/owl-carousel.css' %}" rel="stylesheet">
    <link href="{% static 'eccomerce/css/lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'eccomerce/css/mycss.css' %}" rel="stylesheet">
    <link href="{% static 'eccomerce/css/css_select.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
</head>


<body>

  <div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% block content %}
{% endblock %}
<script src="{% static 'eccomerce/js/jquery.min.js' %}"></script>
<script src="{% static 'eccomerce/js/bootstrap.min.js' %}"></script>
<script src="{% static 'eccomerce/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'eccomerce/js/custom.js' %}"></script>
<script src="{% static 'eccomerce/js/parallax.js' %}"></script>
<script src="{% static 'eccomerce/js/lightbox-2.6.min.js' %}"></script>
<script src="{% static 'eccomerce/js/ResizeSensor.min.js' %}"></script>
<script src="{% static 'eccomerce/js/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'eccomerce/js/inview.js' %}"></script>
<script src="{% static 'eccomerce/js/cookiealert.js' %}"></script>
<script src="{% static 'eccomerce/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'eccomerce/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'eccomerce/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'eccomerce/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'eccomerce/js/filter.js' %}"></script>

</body>
</html>
