<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  #myButton {
    background-color: yellow;
  }
</style>

<body>
{% for product in products %}
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>{{product.get_final_price}}</p>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% with product.productimages_set.first as image %}
        {% if image %}
            <img src="{{ image.image.url }}" alt="{{ product.name }}">
        {% endif %}
    {% endwith %}
{% endfor %}
<button id="myButton" onclick="changeColor()">Click me!</button>

<script>
  function changeColor() {
    document.getElementById("myButton").style.backgroundColor = "black";
  }
</script>
</body>
</html>